$primary-color: #0e6cff;
$secondary-blue-color: #005bea;
$secondary-color: #ff8700;
$third-color: #161c24;
$background-section1: #11151b;
$border-preset: 1px solid #3f4347;
$paragraph-color: rgba(173, 181, 189, 0.7490196078);