// features first version ->
.ourfeatures--content-wrapper {
  background-color: $third-color;
  @extend .flex-between;
  gap: 20px;
  .ourfeatures--wrapper {
    @extend .base--wrapper;
  }

  .ourfeatures--content {
    margin-top: 40px;
    width: 50%;
    svg {
      width: 40px;
      color: $secondary-blue-color;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .ourfeatures--title {
      font-size: 24px;
      font-weight: 400;
      color: white;
      margin-bottom: 15px;
    }

    .ourfeatures--subtitle {
      @extend .paragraph--preset;
    }

    .ourfeatures--bottom-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 20px;
      .ourfeatures--bottom {
        color: $secondary-blue-color;
        font-size: 13px;
        cursor: pointer;
      }

      .ourfeatures--bottom-arrow {
        margin: 0 !important;
        width: 20px;
      }
    }
  }
}

// features second version ->

.ourfeatures--content-2 {
  background-color: $background-section1;

  .ourfeatures--wrapper-2 {
    padding: 105px 0px;
    max-width: 1110px;
    margin: 0 auto;
    @extend .flex-between;
  }
}
