.footer {
    background-color: #161c24;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
    font-size: 14px;
  }
  