.base--wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 90px 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph--preset {
  color: $paragraph-color;
  line-height: 2;
  font-size: 14px;
}

// each section title ->

.section--title-wrapper {
  @extend .flex--column;
  gap: 15px;
  .section--title {
    color: white;
    font-weight: 300;
    font-size: 28px;
  }

  .sub--line--wrapper {
    display: flex;
    align-items: center;
    .sub--line {
      width: 80px;
      height: 2px;
      background-color: $secondary-blue-color;
      position: relative;
    }
    .sub--line-detail {
      background-color: $secondary-color;
      height: 6px;
      width: 30px;
      border-radius: 50px;
      left: 0;
      top: 0%;
    }
  }
}

// blue ball for section features and services ->

.blue--circle-wrapper {
  @extend .flex;
  width: 50%;
  .blue--circle {
    width: 350px;
    height: 350px;
    background-color: $secondary-blue-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover .img--content {
      transform: scale(1.04);
    }

    .background--blue {
      width: 550px;
      position: absolute;
    }

    .img--content {
      z-index: 6;
      transition: all 300ms ease-in-out;
    }
  }
}
